<script>
import { SuperAppBridge } from 'super_app_bridge'

export default {
  data() {
    return {
      bridge: null,
      manifest: { "appId": "22", "name": "test" },
      baseUrl: "",
      qrcodeData: "Loading...",
      base64Data: "Loading...",
      imageSrc: '',
      eventID: '',
    }
  },
  mounted() {
    this.bridge = new SuperAppBridge(this.manifest, this.baseUrl);
  },
  methods: {
    onLoad() {
      console.log("onLoad!!!!");

    },
    onHide() {
      console.log("onHide!!!!");
    },
    getCoreFunc(type) {

      let loader = this.$loading.show({
        container: this.fullPage ? null : this.$refs.formContainer,
        canCancel: true,
        onCancel: this.onCancel,
      });

      console.log("getCoreFunc");

      var data = {
        'methode': "test_request",
        'bbb': true,
        'ccc': '222',
      };

      var coreFunction = type == "scan" ? "core://13A3/1.0.1/qrscanner/open_qrscanner" : "core://13A3/1.0.1/camera/open_camera";

      this.bridge.request(coreFunction, data, result => {
        /* console.log("result request stringify=" + JSON.stringify(result));
        console.log(result); */
        console.log("new log");
        loader.hide();
        if (type == "scan") {
          this.qrcodeData = result;
          this.base64Data = "Loading...";
        } else {
          this.base64Data = "Done";
          this.imageSrc = 'data:image/png;base64,' + result;
          this.qrcodeData = "Loading...";
        }

      });
    },
    getCoreFunc2(type) {

      let loader = this.$loading.show({
        container: this.fullPage ? null : this.$refs.formContainer,
        canCancel: true,
        onCancel: this.onCancel,
      });

      console.log("getCoreFunc");

      var data = {
        'methode': "test_request",
        'bbb': true,
        'ccc': '222',
      };

      //core://AppID/Version/Module/feature
      //core://13A3/1.0.1/event/open_event_list
      //core://13A3/1.0.1/event/open_event_detail?event_id=1
      //core://13A3/1.0.1/event/open_miniapp_event_list?event_id=[1,4,5,8]

      var coreFunction = type == "eventList" ? "core://13A3/1.0.1/event/open_event_list" : "core://13A3/1.0.1/event/open_event_detail?event_id=" + this.eventID;
      console.log(coreFunction);
      
      this.bridge.request(coreFunction, data, result => {
        /* console.log("result request stringify=" + JSON.stringify(result));
        console.log(result); */
        console.log("new log");
        loader.hide();
      });
    }
  }
}
</script>

<template lang="">
 QRCODE DATA : {{this.qrcodeData}}
  <br>
  <button @click="getCoreFunc('scan')">
    call core function "SCAN QR CODE"
  </button>
  <br>
  <br>
  <hr>
  <br>
  base6d DATA : {{this.base64Data}}
  <br>
  <br>
  <div>
    <img :src="imageSrc" :style="{ width: '200px' }" >
  </div>
  <br>
  <button @click="getCoreFunc('camera')">
    call core function "Camera"
  </button>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <button @click="getCoreFunc2('eventList')">
    call core function "Event list"
  </button>
  <br>
  <br>
  <input type="text" v-model="eventID" placeholder="Enter a value">
  <br>
  <button @click="getCoreFunc2('eventDetail')">
    call core function "Event Detail"
  </button>

</template>

<style lang="">

</style>